body {
  color: #242124;
  background-color: #242124;
}

.block {
  padding: 3em;
  margin: 1.5em;
}

.accede {
  background-color: #ACCEDE;
}

.ace {
  background-color: #ACE;
}

.add {
  background-color: #ADD;
}

.bad {
  background-color: #BAD;
}

.beaded {
  background-color: #BEADED;
}

.bed {
  background-color: #BED;
}

.bedded {
  background-color: #BEDDED;
}

.bee {
  background-color: #BEE;
}

.beefed {
  background-color: #BEEFED;
}

.cab {
  background-color: #CAB;
}

.cabbed {
  background-color: #CABBED;
}

.cad {
  background-color: #CAD;
}

.dab {
  background-color: #DAB;
}

.dabbed {
  background-color: #DABBED;
}

.dad {
  background-color: #DAD;
}

.deb {
  background-color: #DEB;
}

.decade {
  background-color: #DECADE;
}

.deeded {
  background-color: #DEEDED;
}

.deface {
  background-color: #DEFACE;
}

.ebb {
  background-color: #EBB;
}

.efface {
  background-color: #EFFACE;
}

.fab {
  background-color: #FAB;
}

.facade {
  background-color: #FACADE;
}

.fad {
  background-color: #FAD;
}

.fed {
  background-color: #FED;
}

.fee {
  background-color: #FEE;
}
